@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&family=Vina+Sans&display=swap');

*{
    margin: 0px;
    padding: 0px;
}

header {
    background-color: rgb(192, 56, 56);
}

header > h1 {
    text-align: center;
    font-size: 4em;
    color: white;
}

nav {
    background-color:rgb(192, 56, 56);
    font-family: 'Oswald', sans-serif;    
}

nav > a {
    text-decoration: none;
    color: white;
    font-size: 1.2em;
    font-weight: bold;
    margin: 15px;
    padding: 3px;
}

nav > a:hover{
    color: rgb(192, 56, 56);
    background-color: white;
    border-radius: 4px 4px 0px 0px;
}

main {
    margin: auto;
    padding: 20px;
    min-width: 300px;
    max-width: 1000px;
    border-radius: 0px 0px 10px 10px;
    padding-bottom: 40px;
}

main > h1 {
    text-align: center;
    font-size: 3em;
    margin-bottom: 9px;
    font-family: 'Oswald', sans-serif;
    color: white;
    background-color: rgb(192, 56, 56);
    border-radius: 5px;
}

h2 {
    margin-bottom: 10px;
    font-size: 2em;
    font-family: 'Oswald', sans-serif;
}

p {
    text-align: justify;
    text-indent: 20px;
}

footer {
    color: white;
    background-color: black;
    text-align: center;
    font-size: 1em;
    padding: 5px;
}
